mat-card{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
mat-form-field{
    width: 90%;
}
.buttonPosition{
    display: flex;
    justify-content: flex-end;
}
.updateBtn{
    margin-right: 210px;
}