<div>
    <mat-card class="cardSizePosition">
        <div>
            <form>
                <div class="center">
                    <mat-form-field appearance="fill">
                    <mat-label>Current Password</mat-label>
                    <input matInput placeholder="******" [formControl]="currentPassword" type="password" required>
                    <mat-error *ngIf="currentPassword.hasError('required')"> Current Password is required*</mat-error>
                    <mat-error *ngIf="currentPassword.hasError('minlength')"> Password must be longer than 6 characters</mat-error>
                    </mat-form-field>
                </div>
                <div class="center">
                    <mat-form-field appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="******" [formControl]="newPassword" type="password" required>
                    <mat-error *ngIf="newPassword.hasError('required')"> New Password is required*</mat-error>
                    <mat-error *ngIf="newPassword.hasError('minlength')"> Password must be longer than 6 characters</mat-error>
                    </mat-form-field>
                </div>
                <div class="center">
                    <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder= "******" [formControl]="confirmPassword" type="password" required>
                        <mat-error *ngIf="confirmPassword.hasError('required')"> Confirm Password is required*</mat-error>
                        <mat-error *ngIf="confirmPassword.hasError('minlength')"> Password must be longer than 6 characters</mat-error>
                    </mat-form-field>
                </div>
                <span style="color: red" *ngIf="passwordNotMatch">
                    *Password not match
                  </span>
                <br><br><br>
                <div class="buttonPosition">
                    <button type="submit" mat-raised-button color="primary" class="updateBtn" (click)='onSubmit()' [disabled]="!formNotComplete">
                        Update Password
                    </button>
                    <button mat-raised-button color="warn" class="cancelBtn" (click)='onCancel()'>
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </mat-card>
</div>

