.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.uploadBtn {
    width: 300px;
    margin-top: 30px;
    
}
.save{
    margin-right: 210px;
}
.buttonPosition{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}