<br><br>
<body>
    <mat-card class="cardSizePosition">
        <mat-card-title>
            <h1>Welcome {{login}}!</h1> 
        </mat-card-title>
    </mat-card>
    <br><br><br>
    <mat-card class="cardSizePosition">
        <mat-card-title>
            <h2>Welcome to IMAX CINEMA</h2>
        </mat-card-title>
        <mat-card-subtitle>
            <h4>-A perfect place to watch the movie-</h4>     
        </mat-card-subtitle>
    </mat-card>
    <br><br><br>
    <div>
        <h4 class="showtext">Now Showing</h4>
    </div>
    <hr width="90%">
    <div class="video">
        <iframe
        src="../../assets/video/trailer.mp4" 
        allow="autoplay"
        width="100%"
        height="100%"
        loop = "true"
        frameborder="0"
        >
    </iframe>
    </div>
    
    <br><br>
</body>