<div>
    <mat-card class="cardSizePosition">
        <mat-card-title>
            <h2>Login</h2> 
        </mat-card-title>
        <div class="loginForm">
            <form>
                <div class="center">
                    <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="jason" [formControl]="username" required>
                    <mat-error *ngIf="username.hasError('required')"> Username is required*</mat-error>
                    </mat-form-field>
                </div>
                <div class="center">
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder= "password" [formControl]="password" [type]="hide ? 'password' : 'text'" required>
                        <mat-error *ngIf="password.hasError('required')"> Password is required*</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')"> Password must be longer than 6 characters</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <br><br><br>
                <div class="center">
                    <button type="submit" mat-raised-button color="primary" class="loginBtn" (click)='onSubmit()'>
                        Login
                    </button>
                </div>
                <br>
                <div class="center">
                    <p>Don't have an account? <a routerLink = '/register'>Sign Up</a></p>
                </div>
            </form>
        </div>
    </mat-card>
</div>

