.cardSizePosition{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: black;
    height: 100%;
    padding-bottom: 1100px;
}
mat-card-title{
    text-align: center;
}
mat-card-subtitle{
    text-align: center;
}
h1{
    font-size: 50px;
    padding: 20px 5px 10px 5px;
}
h2{
    font-size: 40px;
    padding: 20px 5px 10px 5px;
}
h4{
    font-size: 25px;
}
.video{
    margin-left: auto;
    margin-right: auto;
    height: 650px;
    width: 90%;
}
.showtext{
    color: white;
    text-align: center;
}
